.drawer {
    overflow: hidden;
}

.menu-bar {
    background-color: black !important;
    box-shadow: 4px 5px 5px 0 grey !important;
}

.artwork {
    box-shadow: 4px 8px 5px 5px grey !important;
}

.search-bar {
  box-shadow: 4px 8px 2px 0 grey !important;
}

.add-artwork-btn {
  margin-right: 2.5% !important;
}

.artist-plaque {
  background-color: #D4AF37;
  padding: 5px;
  border: 2px solid #bfbfbf;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 15%;
  margin-left: auto;
  margin-right: auto;

  color: black;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.artist-plaque:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.carved-text {
  font-size: 16px;
  font-family: 'Arial', sans-serif;

}

.artist {
  background-color: black !important;
}

.artwork:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


.app-bar-logo {
  align-items: center !important;
}

.account-image {
  margin-left: 7%;
  box-shadow: 4px 8px 2px 0 grey !important;
}

.artwork-modal{
  background-color: black !important;
}

.artwork-image{
  width:100% !important;
}

.table-header {
  font-weight: bolder !important;
}

.account-table {
    font-family: monospace;
    width: 60% !important;
    margin: 2% auto !important;
    border-collapse: collapse !important;
    text-align: center !important;
    box-shadow: 4px 6px 2px 0 grey !important;
  }

.transaction-table {
    font-family: monospace;
    background-color: white;
    width: 90% !important;
    margin: 2% auto !important;
    border-collapse: collapse !important;
    text-align: center !important;
    box-shadow: 4px 6px 2px 0 grey !important;
  }

  .profile {
    background-color: #FAF9F6;
  }

  .gallery {
    background-color: #FAF9F6;
    /* background-color: black; */
  }

  .load-phrase{
    /* font-size: 100% !important; */
    font-family: cursive !important;
    text-align: center !important;
  }
